# I. Оператори порівняння та логічні оператори. Умови.

1. Створіть цілочисленну змінну зі своїм щасливим або улюбленим числом. Напишіть код, який би автоматизовував наступну задачу.

Якщо число парне, помножте його на 2 та виведіть результат на екран.

Але якщо число непарне, помножте його на 3 та додайте 1 і виведіть на екран.

In [5]:
t1_v1 = 4

if t1_v1 % 2 == 0:
    t1_v2 = t1_v1 * 2
else:
    t1_v2 = t1_v1 * 3 + 1

t1_v2

8

2. Створіть змінну, що посилається на список. Якщо список пустий, додайте будь-який елемент у кінець списку. Якщо ж ні, то нічого не робіть.

In [6]:
t2_v1 = []

if not t2_v1:
    t2_v1.append("new")

t2_v1

['new']

3. Створіть рядок зі своїм імʼям латинкою. Напишіть код, який би автоматизовував наступну задачу.

Якщо в імені є літера "а"
 або "i", Виведіть на екран повідомлення "A or I is in the name".



Якщо в імені є літери "o" та "n", Виведіть на екран повідомлення "O and N is in the name".

Також якщо в імені немає літери "о", але є "n", Виведіть на екран повідомлення "Only N is in the name".

В решті випадків виведіть на екран повідомлення "There is no N in the name, but there might be O".

Зверніть увагу, що, наприклад, для імені "Antonina" буде виведено два повідомлення.

In [9]:
t3_v1 = "Heizenberg"

if 'a' in t3_v1 or 'i' in t3_v1:
    print("A or I is in the name")

if 'o' in t3_v1 and 'n' in t3_v1:
    print("O and N is in the name")

if 'o' not in t3_v1 and 'n' in t3_v1:
    print("Only N is in the name")

if 'n' not in t3_v1:
    print("There is no N in the name, but there might be O")

A or I is in the name
Only N is in the name

# II. Comprehensions.

4. Створіть список, використовуючи if (не if-else), range та comprehension.

In [10]:
t4_v1 = [x**2 for x in range(10) if x % 2 == 0]
t4_v1

[0, 4, 16, 36, 64]

5. Створіть словник, використовуючи dict comprehension, що містить if else. Коли слід використовувати comprehensions, а коли їх слід уникати?

In [11]:
t5_v1 = {x: x**2 if x % 2 == 0 else None for x in range(1, 6)}
t5_v1

{1: None, 2: 4, 3: None, 4: 16, 5: None}

Слід використовувати:
Коли прості операції
Коли короткі блоки
Коли зручніше за код

Слід уникати:
Для складних умов
Об'ємних даних
Змінних структур які не мають сильного порядку

6. Створіть список з рядками та запишіть його у змінну. Створіть ще один список на основі попереднього, де кожен рядок буде містити тільки три перших заглавних символи. Наприклад: ['hello', 'i', 'dont', 'care'] -> ['HEL', 'I', 'DON', 'CAR']. Використання comprehensions обовʼязкове.

In [12]:
t6_v1 = ['hello', 'i', 'dont', 'care']
t6_v2 = [word[:3].upper() for word in t6_v1]
t6_v2

['HEL', 'I', 'DON', 'CAR']

# III. Цикли.

7. Продемонструйте роботу циклу while. Не можна використовувати True для запуску циклу, щоб уникнути безкінечного циклу!

In [13]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

8. Напишіть програму, яка виведе на екран непарні числа в діапазоні від 0 до 20 включно.

In [17]:
for t8_v1 in range(1, 20, 2):
    print(t8_v1)

1
3
5
7
9
11
13
15
17
19

9. Створіть список з елементами булевого типу або None. Використовуючи цикли, отримайте в результаті список з кортежами, де перший елемент кортежу - індекс(ціле число), а другий елемент - відповідне значення з першого списку.

Наприклад, [True, True, None, False] -> [(0, True), (1, True), (2, None), (3, False)]

In [20]:
t9_v1 = [True, True, None, False]
t9_v2 = []

for index, value in enumerate(t9_v1):
    t9_v2.append((index, value))

t9_v2

[(0, True), (1, True), (2, None), (3, False)]

10. Створіть словник, де ключі - назви книжок, а значення - їхня кількість у наявності в Вашій міні-бібліотеці. Бібліотека має містити щонайменше 6 книжок (6 пар значень у словнику) і щонайбільше 10 (пар значень). Використовуючи цикли, оновіть словник (не створюйте новий) так, щоби кількість книг у наявності збільшилося на 5 кожної книги. Наприклад,
{'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13} -> {'It': 8, 'Fault stars': 15, 'Bible': 22, 'Psychological romance': 9, 'Harry Potter': 18}

In [22]:
t10_v1 = {'It': 3, 'Fault stars': 10, 'Bible': 17, 'Psychological romance': 4, 'Harry Potter': 13}

for key in t10_v1:
    t10_v1[key] += 5

t10_v1

{'It': 8,
 'Fault stars': 15,
 'Bible': 22,
 'Psychological romance': 9,
 'Harry Potter': 18}

11. Визначте цілочислену змінну n, що належить проміжку від 4 до 10 включно. Використовуючи цикли, виведіть в консоль наступний патерн.

#
##
###
####

... #*n

In [25]:
t11_v1 = 6
for i in range(t11_v1 + 1):
    print('#' * i)

#
##
###
####
#####
######

12. Гра "Нумо вгадай".
Розробіть просту гру, де користувач має вгадати випадкове число від 1 до 100. Для генерації випадкового числа використовуйте функцію random.randint(a, b) (тут a та b включно). Для отримання числа з консолі використовуйте функцію input(), результат якої обовʼязково явно приведіть до типу int.

Підказка: використовуйте цикл while та умови if-else, щоб повідомити користувачу піказки (напр. "Більше", "Менше") поки користувач не вгадає. По завершенню виведіть кількість спроб, які знадобилися для вгадування.

In [26]:
import random

t12_target = random.randint(1, 100)
t12_guess = None
t12_attempts = 0

while t12_guess != t12_target:
    t12_guess = int(input("Нумо вгадай: "))
    t12_attempts += 1
    if t12_guess < t12_target:
        print("Більше")
    elif t12_guess > t12_target:
        print("Менше")

print(f"Ви нумо вгадали {t12_target} за {t12_attempts} спроб")

Нумо вгадай: 56
Більше
Нумо вгадай: 76
Більше
Нумо вгадай: 86
Більше
Нумо вгадай: 99
Менше
Нумо вгадай: 96
Менше
Нумо вгадай: 90
Більше
Нумо вгадай: 93
Більше
Нумо вгадай: 95
Ви нумо вгадали 95 за 8 спроб

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.