# I. Functions. Arguments.

1. (5б) Назвіть основні 4 смислові  частини, з яких складається функція.

1. Заголовок
2. Параметри
3. Тіло
4. Значення повернення

2. (3б) Визначте функцію, що приймає 2 аргументи та повертає результат ділення 1го аргумента на інший.

In [6]:
def t2_divide(a, b):
    return a / b

3. (2б) Викличте вище визначену функцію, де другий аргумент дорівнює 0.

In [7]:
t2_divide(10, 0)

ZeroDivisionError: division by zero

4. (4б) Перевизначте функцію так, щоби у випадку ділення на 0 функція повертала None, а в решті випадків - результат розрахунків.

In [8]:
def t2_divide(a, b):
    if b == 0:
        return None
    else:
        return a / b

In [9]:
print(t2_divide(10, 0))

None

5. (5б) Визначте функцію, що віднімає одне число від іншого (підказка: це буде 2 аргументи функції). При чому, якщо не визначити, скільки саме має бути віднято від числа, за замовчуванням має відніматися 1. Викличте функцію, передаючи тільки один аргумент.

In [10]:
def t5_minus(a, b=1):
    return a - b

In [11]:
t5_minus(10)

9

6. (7б) Визначте функцію, яка приймає iterable (ітерабельний обʼєкт, напр. список), що складається з 7ми рядкових значень - назв погодних умов (напр. "sunny") за кожен день у тижні. Повертає функція словник, де ключами є рядки з погодними умовами, а значеннями - кількість разів, скільки дана погода була протягом тижня (напр. {'sunny': 1, ...}). Викличте цю функцію та виведіть результат її роботи на екран.

In [12]:
def t6_count_iterable(iterable):
    count = {}
    for value in iterable:
        if value in count:
            count[value] += 1
        else:
            count[value] = 1
    return count

In [13]:
# Приклад виклику функції
t6_weekly_conditions = ["sunny", "rainy", "cloudy", "sunny", "sunny", "cloudy", "rainy"]
t6_count_iterable(t6_weekly_conditions)

{'sunny': 3, 'rainy': 2, 'cloudy': 2}

7. (15б) Напишіть програму, яка б шукала необхідне число у впорядкованому списку цілочислених значень, де
число має вводитись з консолі.
власне алгоритм пошуку винесений в окрему функцію, яка повертає булеве значення (знайдено число - True, не знайдено - False).
в залежності від результату функції, виведіть на екран повідомлення про успішний або ж неуспішний пошук.
Зауваження: використовувати оператор in заборонено.

In [15]:
def t7_search(arr, target):
    for num in arr:
        if num == target:
            return True
    return False

In [17]:
t7_numbers = [2, 5, 8, 12, 16, 23, 38, 56, 72, 91]
t7_target = int(input("Enter numver to search: "))
t7_found = t7_search(t7_numbers, t7_target)

if t7_found:
    print("Число знайдено у списку.")
else:
    print("Число не знайдено у списку.")

Enter numver to search: 16
Число знайдено у списку.

# II. Lambda functions.

8. (4б) В яких випадках варто використовувати лямбда-функції?

1. Коротка функція
2. Функція як інлайн аргумент в map, filter або sorted
3. Виконуються прості операції
4. Функція потрібна лише один раз

9. (9б) Визначте список з рядками. Після цього визначте анонімну функцію для отримання першого символу у верхньому регістрі для кожного рядка списку.
Підказка: використовуйте анонімну функцію в якості агрумента до вбудованої ф-ції, яка створена для застосування функцій над iterable обʼєктами. Результат виведіть на екран у вигляді кортежу.

In [20]:
t9_values = ['monady', 'tuesday', 'wednesday', 'thursday', 'friday', 'sunday', 'saturday']
list(map(lambda x: x[0].upper(), t9_values))

['M', 'T', 'W', 'T', 'F', 'S', 'S']

10. (10б) Визначте список з числовими значеннями (і цілими, і з рухомою комою). а) Відфільтруйте всі числа, які діляться націло на 3 за допомогою вбудованої функції та анонімної функції в якості аргумента). Збережіть результат у змінній, не приводяти явно до будь-якого типу. б) Використовуючи результат на кроці 12.а у якості аргументу, та за допомогою лямбда-функції в якості іншого аргументу до вбудованої функції, додайте до кожного елементу число 1 та опісля зведіть у квадрат. Остаточний результат приведіть явно до списку та виведіть на екран.

In [27]:
t10_numbers = [1, 2.4, 3, 4, 5.5, 6, 7, 8.3, 9, 10, 11.1, 12.3, 13, 14, 15]
t10_filtered = filter(lambda x: x % 3 == 0, t10_numbers)
list(t10_filtered)

[3, 6, 9, 15]

In [26]:
t10_result = list(map(lambda x: (x + 1) ** 2, t10_filtered))
t10_result

[16, 49, 100, 256]

# III. Decorators.

11. (11б) Визначте декоратор, який би виводив у консоль повідомлення про початок роботи і назву функції (напр. my_function._ _ name _ _), а після відпрацювання функції - повідомлення про закінчення роботи і назву функції, що задекорована.

In [28]:
def t11_decorator(func):
    def wrapper(*args, **kwargs):
        print(f"Begin of {func.__name__}")
        result = func(*args, **kwargs)
        print(f"End of {func.__name__}")
        return result
    return wrapper

12. (4б) Задекоруйте двома різними способами функції з завдання 4 та 5 декоратором із завдання 11. (**УВАГА**: не декоруйте функції двічі!).

In [29]:
@t11_decorator
def t2_divide(a, b):
    return a / b

In [34]:
def t5_minus(a, b=1):
    return a - b

t5_minus = t11_decorator(t5_minus)

13. (2б) Викличте одну з задекорованих функцій і виведіть її результат на екран.

In [35]:
t2_divide(10, 3)

Begin of t2_divide
End of t2_divide

3.3333333333333335

In [36]:
t5_minus(10, 5)

Begin of t5_minus
End of t5_minus

5

# IV. Recursion.

14. (4б) Назвіть дві частини функції, які є обовʼязковими для того, щоб називати її рекурсивною.

1. Повторний виклик самої себе (рекурсивний виклик)
2. Термінальна умова (базовий випадок)

15. (15б) Визначте функцію, яка рекурсивно реалізовує пошук числа у послідовності Фібоначчі за її індексом (нумерація починається з нуля). Наприклад, потрібно знайти перше число у послідовності, тоді функція прийматиме 0 у якості аргумента і повертатиме 1, якщо ж знаходити третє число (індекс 2) послідовності, то функція повертатиме 2, якщо ж знаходити десяте число (індекс 9), то функція повертатиме 55.

In [37]:
def t15_fibonacci(index):
    if index == 0 or index == 1:
        return 1
    else:
        return t15_fibonacci(index - 1) + t15_fibonacci(index - 2)

In [39]:
t15_index = int(input("Enter index: "))
t15_fibonacci(t15_index)

Enter index: 9

55

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.