# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [7]:
t1_var1 = 10
t1_var2 = 10

In [8]:
t1_var1 == t1_var2

True

In [9]:
id(t1_var1) == id(t1_var2)

True

*місце для текстової відповіді

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [10]:
t2_var1 = True
t2_var2 = 100

In [11]:
isinstance(t2_var1, bool)

True

In [16]:
isinstance(t2_var1, int)

True

In [14]:
isinstance(t2_var2, bool)

False

In [15]:
isinstance(t2_var2, int)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [27]:
t3_var1 = 23
t3_var2 = 0.74

In [18]:
t3_var1 + t3_var2

23.74

In [21]:
t3_var1 - t3_var2

22.26

In [19]:
t3_var1 * t3_var2

17.02

In [20]:
t3_var1 / t3_var2

31.08108108108108

In [22]:
t3_var1 // t3_var2

31.0

In [23]:
t3_var1 % t3_var2

0.060000000000000275

In [24]:
t3_var1 ** t3_var2

10.1783785433571

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [28]:
int(t3_var2)

0

In [30]:
float(t3_var1)

23.0

In [29]:
t4_var1 = True
int(t4_var1)

1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [32]:
t5_v1 = ''
t5_v1

''

In [33]:
t5_v2 = str()
t5_v2

''

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
# Створення рядка з апострофом і зроблення його сирим
string_with_apostrophe = 'I\'m a string with an apostrophe'
raw_string_with_apostrophe = r'I\'m a raw string with an apostrophe'

# Вивід обидвох рядків на екран
print(string_with_apostrophe)
print(raw_string_with_apostrophe)

In [34]:
t6_v1 = 'I\'m a string with an apostrophe'
t6_v1

"I'm a string with an apostrophe"

In [35]:
t6_v2 = r'I\'m a raw string with an apostrophe'
t6_v2

"I\\'m a raw string with an apostrophe"

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [38]:
t7_v1 = "Heizenberg"
t7_v2 = f"My name is {t7_v1}"
t7_v2

'My name is Heizenberg'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [41]:
t8_v1 = "My dog is crazy."
t8_v2 = t8_v1.strip('.').split()
t8_v2

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [42]:
t9_v1 = [1, 2, 3]
len(t9_v1)

3

In [44]:
t9_v2 = list(range(10))
len(t9_v2)

10

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [46]:
t10_v1 = list(range(3))
t10_v2 = list(range(5))
t10_v2.append(t10_v1)
t10_v2

[0, 1, 2, 3, 4, [0, 1, 2]]



```
# Має бути у форматі коду
```

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [48]:
t11_v1 = [[1,2,3], [4,5,6], [7,8,9]]
t11_v1[-1][0]

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [49]:
t12_v1 = [True, 'two', 3.0, [4, 5], 'six', {'seven': 7}, (8, 9), 10, 11, 12]
t12_v1

[True, 'two', 3.0, [4, 5], 'six', {'seven': 7}, (8, 9), 10, 11, 12]

In [50]:
len(t12_v1)

10

In [51]:
t12_v1[2:-2]

[3.0, [4, 5], 'six', {'seven': 7}, (8, 9), 10]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [53]:
t14_v1 = (1,)
t14_v1

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості:
Можуть містити об'єкти різних типів
Можуть індексуватись та використовувати зрізи
Можуть ітеруватись

Відмінності:
Списки є змінними, кортежі - ні
Синтаксис - () та []
Кортежі можуть бути швидшими

Випадки використання:
Списки:
Там де потрібно змінна довжина
Там де потрібні змінні дані

Кортежі:
Для передачі даних
Там де потрібна незмінність данних

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [54]:
t16_v1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 11.3)
t16_v1[::-2]

(11.3, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [55]:
t17_v1 = set()
t17_v1.add(1)
t17_v1.add('two')
t17_v1.add(3.0)
t17_v1

{1, 3.0, 'two'}

множини є змінним типом даних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [56]:
t18_t1 = set([1, 1, 2, 67, 67, 8, 9])
t18_t1

{1, 2, 8, 9, 67}

тому що множина не може містити кілька однакових елементів

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [57]:
t19_v1 = {1, 2, 3, 4, 5}
t19_v2 = {4, 5, 6, 7, 8}

In [58]:
t19_v1.union(t19_v2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [59]:
t19_v1.difference(t19_v2)

{1, 2, 3}

In [60]:
t19_v1.intersection(t19_v2)

{4, 5}

In [61]:
t19_v1.symmetric_difference(t19_v2)

{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [63]:
t20_v1 = {}
t20_v1[1] = "integer"
t20_v1['two'] = "string"
t20_v1[3.0] = "float"
t20_v1[(4,)] = "tuple"
t20_v1

{1: 'integer', 'two': 'string', 3.0: 'float', (4,): 'tuple'}

Список є змінним типом даних, тому він не може бути використаний як ключ у словнику. Однак кортеж може.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [65]:
t12_v1 = {
    '1': {
        '21': {
            '31': 'value'
        },
        '22' : 0
    },
    '2' : 1
}
t12_v1['1']['21']['31']

'value'

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.