# I. OOP

1. (6б). Створіть клас Animal, додайте три атрибути, один з яких має значення за замовчуванням та два методи на свій розсуд.

In [2]:
class t1_Animal:
    def __init__(self, name, species, age=5):
        self.name = name
        self.species = species
        self.age = age

    def make_sound(self):
        print("Woof")

    def to_string(self):
        return f"{self.name} is a {self.age} year old {self.species}"

2. (2б). Створіть два обʼєкти цього класу, де один з обʼєктів створюється із дефолтним значенням атрибуту. На одному обʼєкті отримайте значення його атрибуту, а на іншому викличте один з його методів.

In [3]:
t2_animal1 = t1_Animal("Leo", "Lion")
t2_animal1.age

5

In [4]:
t2_animal2 = t1_Animal("Milo", "Cat", 3)
t2_animal2.to_string()

'Milo is a 3 year old Cat'

3. (5б). Створіть клас, де атрибути мають різні рівні доступу. Спробуйте отримати їхні значення та опишіть результати.

In [5]:
class t3_AccessLevels:
    def __init__(self):
        self.public = "Public Attribute"
        self._protected = "Protected Attribute"
        self.__private = "Private Attribute"

t3_obj = t3_AccessLevels()

In [6]:
t3_obj.public

'Public Attribute'

In [7]:
t3_obj._protected

'Protected Attribute'

In [8]:
t3_obj.__private

AttributeError: 't3_AccessLevels' object has no attribute '__private'

In [9]:
t3_obj._t3_AccessLevels__private

'Private Attribute'

4. (7б). Як ви розумієте термін self? Для чого використовується метод __init __?

self є посиланням на екземпляр класу до якого належить метод із якого ми отримуємо доступ до self.

Метод __init__ використовується для ініціалізації атрибутів об'єкта при його створенні.

5. (9б). Створіть клас Фігура без атрибутів, з методом get_area для отримання площі фігури, що повертає 0 та __add __, який приймає self та other в якості аргументів, а повертає суму площин фігур self та other.

In [10]:
class t5_Figure:
    def get_area(self):
        return 0

    def __add__(self, other):
        return self.get_area() + other.get_area()

6. (11б). Створіть 2 дочірніх класи від Фігури: Трикутник та Коло, які мають атрибути, необхідні для розрахунку площин. Визначте метод get_area в кожному з них так, щоби вони розраховували площу в залежності від формули для кожного типу фігури. Створіть обʼєкт класу Трикутник та обʼєкт класу Коло. Виконайте операцію суми за допомогою оператора + між ними.

In [11]:
class t6_Triangle(t5_Figure):
    def __init__(self, base, height):
        self.base = base
        self.height = height

    def get_area(self):
        return 0.5 * self.base * self.height

In [12]:
class t6_Circle(t5_Figure):
    def __init__(self, radius):
        self.radius = radius

    def get_area(self):
        return 3.14 * self.radius ** 2

In [19]:
t6_triangle1 = t6_Triangle(3, 4)
t6_circle1 = t6_Circle(5)
t6_triangle1 + t6_circle1

84.5

7. (3б). Продемонструйте різницю між isinstance та issubclass.

In [20]:
isinstance(t6_triangle1, t6_Triangle)

True

In [21]:
isinstance(t6_triangle1, t5_Figure)

True

In [22]:
issubclass(t6_Triangle, t5_Figure)

True

8. (13б). Створіть клас BankAccount з приватними атрибутами balance та account_number. Реалізуйте методи поповнення та зняття коштів, забезпечивши належну інкапсуляцію. Підказка: використовуйте декоратори property та setter.

In [23]:
class t8_BankAccount:
    def __init__(self, balance, account_number):
        self.__balance = balance
        self.__account_number = account_number

    @property
    def balance(self):
        return self.__balance

    @balance.setter
    def balance(self, amount):
        if amount >= 0:
            self.__balance = amount
        else:
            raise Exception("Invalid amount")

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
        else:
            raise Exception("Invalid amount")

    def withdraw(self, amount):
        if 0 < amount <= self.__balance:
            self.__balance -= amount
        else:
            raise Exception("Invalid amount or insufficient balance")

In [25]:
t8_acc = t8_BankAccount(100, 1234);
t8_acc.balance

100

In [26]:
t8_acc.balance = 120
t8_acc.balance

120

In [27]:
t8_acc.deposit(10)
t8_acc.balance

130

In [28]:
t8_acc.withdraw(100)
t8_acc.balance

30

9. (11б). Створіть клас Library, який містить список об'єктів типу Book. Реалізуйте методи для додавання книги, видалення книги та відображення списку книг.

In [29]:
class t9_Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author


class t9_Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)

    def remove_book(self, book):
        self.books.remove(book)

    def display_books(self):
        for book in self.books:
            print(f"{book.title} by {book.author}")

In [31]:
t9_book1 = t9_Book("To Kill a Mockingbird", "Harper Lee")
t9_book2 = t9_Book("1984", "George Orwell")
t9_book3 = t9_Book("The Catcher in the Rye", "J.D. Salinger")
t9_library = t9_Library()

In [32]:
t9_library.add_book(t9_book1)
t9_library.add_book(t9_book2)
t9_library.add_book(t9_book3)
t9_library.display_books()

To Kill a Mockingbird by Harper Lee
1984 by George Orwell
The Catcher in the Rye by J.D. Salinger

In [33]:
t9_library.remove_book(t9_book2)
t9_library.display_books()

To Kill a Mockingbird by Harper Lee
The Catcher in the Rye by J.D. Salinger

10. (13б). Створіть клас Person з атрибутами name та age. Створіть ще один клас Employee з такими атрибутами, як department та salary. Створіть клас Manager, який успадковує обидва класи Person та Employee. Продемонструйте використання множинної спадковості, створивши обʼєкт класу Manager та отримавши mro для цього класу.

In [34]:
class t10_Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age


class t10_Employee:
    def __init__(self, department, salary):
        self.department = department
        self.salary = salary


class t10_Manager(t10_Person, t10_Employee):
    def __init__(self, name, age, department, salary):
        t10_Person.__init__(self, name, age)
        t10_Employee.__init__(self, department, salary)

In [36]:
t10_manager = t10_Manager("John", 40, "IT", 80000)
t10_Manager.__mro__

(__main__.t10_Manager, __main__.t10_Person, __main__.t10_Employee, object)

# II. Iterator

11. (4б). Визначте рядок(str) з 4ма різними за значенням символами. Створіть ітератор на основі цього рядка. Викличте 5 разів функцію next на ітераторі, 4ри перших з них огорніть у ф-цію print().

In [37]:
t11_str = "abcd"
t11_iterator = iter(t11_str)
print(next(t11_iterator))
print(next(t11_iterator))
print(next(t11_iterator))
print(next(t11_iterator))
try:
    print(next(t11_iterator))
except StopIteration:
    print("Iteration has stopped")

a
b
c
d
Iteration has stopped

А що якщо викликати цю ж функцію на рядку?

In [38]:
try:
    print(next(t11_str))
except TypeError:
    print("Strings are not iterators, but they are iterable")

Strings are not iterators, but they are iterable

 12. (5б). Опишіть своїми словами в одному реченні, як ви розумієте різницю між ітерабельними обʼєктами та ітераторами (можна на прикладі).

Ітерабельні об'єкти - це ті, які можуть повертати ітератор. Іншими словами - це певні колеції.

Ітератори - це ті, які мають метод __next__, що дозволяє отримувати наступний елемент. Іншими словами - це вказівник, що послідовно проходить по усім елементам.

13. (11б). Створіть клас, що має визначений Iterator Protocol та при кожному виклику next повертає літери англійської абетки, поки вони не вичерпаються.

In [39]:
class t13_AlphabetIterator:
    def __init__(self):
        self.letters = "abcdefghijklmnopqrstuvwxyz"
        self.index = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.index < len(self.letters):
            letter = self.letters[self.index]
            self.index += 1
            return letter
        else:
            raise StopIteration

In [40]:
t13_alphabet = t13_AlphabetIterator()
for letter in t13_alphabet:
    print(letter)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.